# dependencies
/node_modules

# next.js
/.next/
/out/

# production
/build

# env files
.env*.local

# vercel
.vercel

# debug
npm-debug.log*

# misc
.DS_Store
*.pem
.playwright-mcp/
tsconfig.tsbuildinfo
