rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    match /users/{userId} {
      allow read: if true;
      allow create: if request.auth != null && request.auth.uid == userId;
      allow update: if request.auth != null && request.auth.uid == userId;
    }
    match /events/{eventId} {
      allow read: if true;
    }
    match /config/{docId} {
      allow read: if true;
    }
    match /userStats/{userId}/{document=**} {
      allow read: if true;
    }
  }
}
